<!DOCTYPE html>
<html>
<head>
	<title>VUE.JS SHOP</title>
	<link rel="stylesheet" href="css/uikit.min.css">
</head>
<body>

	<div class="uk-container uk-margin-large-top" id="app">
		<nav class="uk-navbar-container" uk-navbar>
			<div class="uk-navbar-left">
				<a href="" class="uk-navbar-item uk-logo">DAEWOO SHOP</a>
				<ul class="uk-navbar-nav">
					<li><a href=""><router-link to="/">Главная</router-link></a></li>
					<li><a href=""><router-link to="/catalog">Каталог</router-link></a></li>
					<li><a href=""><router-link to="/about">О компании</router-link></a></li>
				</ul>
			</div>
			<div class="uk-navbar-right uk-margin-small-right">
				<span uk-icon="icon: cart; ratio: 2"></span>
			</div>
		</nav>
		<div class="uk-flex uk-margin-top">
			<input class="uk-input" placeholder="Поиск товаров..." v-model="search">
		</div>
		<router-view></router-view>
	</div>

	<template id="catalog">
		<div class="uk-flex uk-margin-top">
			<div class="uk-margin-remove uk-width-1-1" uk-grid>
				<div class="uk-card uk-card-default uk-card-body uk-width-1-4">
					<div class="uk-text-bold">Цена</div>
					<div class="uk-flex">
						<input class="uk-input" placeholder="Цена от..." type="number" v-model="price[0]">
						<input class="uk-input" placeholder="Цена до..." type="number" v-model="price[1]">
					</div>
					<div class="uk-margin-top uk-text-bold">Бренды</div>
					<div class="uk-flex uk-flex-column">
						<label><input class="uk-checkbox" type="checkbox" value="bmw" v-model="brands"> BMW</label>
						<label><input class="uk-checkbox" type="checkbox" value="mersedes" v-model="brands"> Mersedes</label>
						<label><input class="uk-checkbox" type="checkbox" value="daewoo" v-model="brands"> Daewoo</label>
					</div>
				</div>
				<div class="uk-card uk-card-default uk-card-body uk-width-3-4 uk-margin-remove" uk-grid>
					<card v-for="car in cars" v-bind:item="car"></card>
				</div>
			</div>
		</div>
	</template>

	<script src="js/uikit.min.js"></script>
	<script src="js/uikit-icons.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/vue-router.js"></script>
	<script src="js/script.js"></script>
</body>
</html>