<!DOCTYPE html>
<html>
<head>
	<title>Vue checklist</title>
</head>
<body>

<div id="app">
	<input v-model="text">
	<input type="submit" value="+" v-on:click="addTask()">
	<list v-for="task in tasks" v-bind:item="task"></list>
</div>

<script src="vue.min.js"></script>
<script>
	Vue.component("list", {
		props: ["item"],
		template: "<div>{{ item }}</div>"
	})

	var app = new Vue({
		el: "#app",
		data: {
			text: "",
			tasks: []
		},
		methods: {
			addTask: function() {
				this.tasks.push(this.text);
				this.text = "";
			}
		}
	})
</script>
</body>
</html>